.profile-link {
    color: white;  /* Ajusta el color del texto según sea necesario */
    text-decoration: none;  /* Asegura que no haya subrayado u otras decoraciones de texto */
    margin-left: 10px;  /* Puedes ajustar el espaciado según sea necesario */
  }
  