/* Estilos generales para dispositivos móviles (mobile-first) */

.shopping-cart-container {
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    text-align: center;
}

.cart-item {
    height: 100%;
    padding: .5rem;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.cart-item h3 {
    color: #333;
    font-size: 1.2rem;
}

.cart-item-date {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.cart-item-date-price {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.cart-item-description {
    width: 100%;
    color: #a3a0a0;
    font-size: .8rem;
    display: flex;
    justify-content: flex-start;
}

.cart-item-price {
    color: #ff5733;
    font-size: 1.1rem;
}

.cart-item img {
    width: 100%;
    max-width: 100px;
    height: auto;
    max-height: 100px;
    object-fit: cover;
    border-radius: 8px;
}

.cart-item-quantity {
    width: 80px; /* Agregué "px" al valor del ancho */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.cart-item-button-quantity-num {
    background-color: #ff5733;
    color: #fff;
    cursor: pointer;
    border: 1px solid #ff5733;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 0.7rem;
    padding: 4px 12px;
    margin: 0 5px;
}

.cart-item-button-container {
    display: flex; /* Cambiado a dirección de fila para colocar los botones uno al lado del otro */
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.cart-item-button {
    background-color: #ff5733;
    color: #fff;
    cursor: pointer;
    border: 1px solid #ff5733;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 0.7rem;
    padding: 4px 8px;
    margin: 0 5px;
}

.cart-item-button:hover {
    background-color: #e64a2e;
    color: #fff;
    border: 1px solid #e64a2e;
}

/* Hacer el botón de cantidad más grande */
.cart-item-quantity span {
    font-size: 1.2rem;
    margin-bottom: 10px;
}


/* Estilos específicos para dispositivos de escritorio */

@media (min-width: 768px) {
    .shopping-cart-container {
        max-width: 50%;
    }

    .cart-item img {
        max-height: 150px;
        margin-bottom: 0;
        margin-right: 20px;
    }
}
